<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>contact-page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style4.css">
    <link rel="stylesheet" href="../static/css/style3.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <a class="navbar-brand text-dark" href="./page.html" style="font-family: 'Roboto', sans-serif; padding-left: 200px;"><h3>My Website</h3></a>
      <div class="" style="padding-left: 600px;">
        <div class="collapse navbar-collapse " id="navbarResponsive">
          <ul class="navbar-nav ml-auto  style-ul">
            <li class="nav-item dropdown">
              <a class="nav-link text-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>PRODUCTS</b>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #ededed;">
                <a class="dropdown-item text-secondary" href="#">Consulting</a>
                <a class="dropdown-item text-secondary" href="#">Developing</a>
                <a class="dropdown-item text-secondary" href="#">Designing</a>
                <a class="dropdown-item text-secondary" href="#">Analysis</a>
              </div>
            </li>
            <li class="nav-item" style="padding-left: 30px;">
              <a class="nav-link text-secondary" href="#">
                    <b>SERVICES</b>
                    </a>
            </li>
            <li class="nav-item" style="padding-left: 30px;">
              <a class="nav-link text-secondary" href="./about-us-page.html">
                    <b>ABOUT</b>
                    </a>
            </li>
            <li class="nav-item" style="padding-left: 30px;">
              <a class="nav-link text-secondary" href="#">
                    <b>JOBS</b>
                    </a>
            </li>
            <li class="nav-item" style="padding-left: 30px;">
              <a class="nav-link text-secondary" href="./contact-page.html">
                    <b>CONTACT</b>
                    </a>
            </li>
          </ul>
          <b class="text-light text-dark" href="#" style="padding-left: 60px;">0129-894-5422</b>
        </div>
      </div>
    </nav>
    <div class="bg-1">
      <p class="fix-p text-danger">Are you a Holiday Provider? Use this form to register your holiday</p>

      <div class="border-page row">
        <div class="col-sm-8">
          <h1>Contact us</h1>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
          <form>
            <div class="form-horizontal row">
              <div class="form-group col-md-6">
                <label for="inputName4">Name:(*)</label>
                <input type="name" class="form-control form-name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email:(*)</label>
                <input type="email" class="form-control form-email">
              </div>
            </div>
            <div class="">
              <div class="form-group ">
                <label for="inputMessage4">Message:(*)</label>
                <input type="text" class="form-control form-messenger">
              </div>
              <div class="form-horizontal row">
                <div class="form-group col-md-5">
                  <label for="inputNumber4">How much is 4 + 5 =?(*)</label>
                  <input type="number" class="form-control form-number">
                </div>
                <div class="col-md-2"></div>
                <div class="form-group col-md-5"></div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-danger btn-block" class="">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-4 fix-padding" >
          <div class="fix-h" >
            <h5 class="text-danger">Email:</h5>
            <p>Hoang12zx@gmail.com</p>
            <h5 class="text-danger">Telephone:</h5>
            <p>01639589311</p>
            <h5 class="text-danger">Skype:</h5>
            <p>Khong co</p>
            <h5 class="text-danger">Address</h5>
            <p>Thai binh</p>
            <br>
            <p>Company No: 0871400</p>
            <br>
            <a href="https://www.facebook.com/">
              <img style="width:50px;" src="http://4.bp.blogspot.com/-SQA_c3Z2wAY/VH3g-fvc29I/AAAAAAAAASQ/ORoqGSj_XJY/s1600/Facebook.png" alt="Facebook-icon">
            </a>
            <a href="https://www.twitter.com/">
              <img style="width:50px;" src="http://www.billstill.com/wp-content/uploads/2016/04/Twitter-icon.png" alt="Twitter-icon">
            </a>


          </div>
        </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
