<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Templates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="./css/enterprise.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="">
  <div class="col-md-8 col-sm-12 mx-auto bg-main" style="padding: 0px">
    <nav class="navbar bg-navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0px;">
        <span class="fa fa-bars" style="color:#fff;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-info" href="#">HOME PAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">CATEGORIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">PAGES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">FEATURES</a>
          </li>
        </ul>
        <div class="social-bar ">
          <a href="#" class=" fa fa-twitter"></a>
          <a href="#" class=" fa fa-facebook"></a>
          <a href="#" class=" fa fa-vimeo"></a>
          <a href="#" class=" fa fa-pinterest"></a>
          <a href="#" class=" fa fa-instagram"></a>
          <a href="#" class=" fa fa-search"></a>
        </div>
      </div>
    </nav>

    <div class="" style="margin: 30px;">
      <div class="">
        <center class="padding-fixed">
          <img src="./image/logo_top_red.png" alt=""  class="img-fluid">
        </center>
        <hr style="margin: 0px;">
        <ul class="nav justify-content-center" style="padding-top:10px;padding-bottom: 10px;font-weight: bold;">
          <li class="nav-item">
            <a class="nav-link" href="#">PHOTOGRAPHY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DESIGN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FASHION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REVIEWS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MUSIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TECHNOLOGY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIFE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TRAVEL</a>
          </li>
        </ul>
        <hr style="margin: 0px;">
        <hr style="margin-top: 1px;">
      </div>

      <div class="bg-carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="fix-image-carousel" src="./image/row1.jpeg" alt="First slide">
              <div class="carousel-caption">
                <div class="text-slider">
                  <div class="text1">LIFE,PHOTOGRAPHY</div>
                  <div class="text2">FLYING OVER THE MOUNTAINS</div>
                  <button type="submit" class="fix-button text3 text-light">READ MORE</button>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="fix-image-carousel" src="./image/row2.jpeg" alt="Second slide">
              <div class="carousel-caption">
                <div class="text-slider">
                  <div class="text1">PEOPLE,FASHION</div>
                  <div class="text2">YOUNG BUSINESSMAN</div>
                  <button type="submit" class="fix-button text3 text-light">READ MORE</button>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="fix-image-carousel" src="./image/row3.jpeg" alt="Third slide">
              <div class="carousel-caption">
                <div class="text-slider">
                  <div class="text1">PEOPLE,LIFE</div>
                  <div class="text2">THE GUY ON THE FIELD</div>
                  <button type="submit" class="fix-button text3 text-light">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="fa next-icon" aria-hidden="true">&#xf104;</span>
        </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="fa next-icon" aria-hidden="true">&#xf105;</span>
        </a>
        </div>
      </div>
      <center class="padding-fixed justify-content-center">
        <h4 class="" style="font-family: 'Patua One', Helvetica, Arial, sans-serif; color: #000;margin-bottom:0px;">LATEST POSTS</h4>
        <span class="text-secondary" style="font-size: 11px; color: #bbb3b0;padding:0px;">ENTER THE SUB TITLE FOR THIS SECTION</span>
      </center>
      <div class="" style="padding-bottom: 50px;">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <img class="fix-image-row1" src="./image/row1.jpg" alt="">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class=" col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-sm-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
            <div class="border-p">
              <a class="font-p" href="p" style="padding: 10px;text-align: left;">TOP NEWS. Sed ut perspiciatis unde omnis iste natus.</a>
            </div>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class="col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
            <img class="fix-image-row2" src="./image/row2.jpg" alt="">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <img class="" src="./image/plv.jpg" alt="" style="width:100%;height: auto; padding-top: 10px; padding-bottom: 10px;">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="fix-image-row2" src="./image/row21.jpg" alt="">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <img class="" src="./image/oto.jpg" alt="" style="width:100%;height:auto; padding-top: 10px; padding-bottom: 10px;">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class="col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class="col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
            <div class="" style="padding-bottom: 10px;">
              <iframe src="https://www.youtube.com/embed/uOvyt67wUtQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="padding-top:10px;width:100%;height: auto;"></iframe>
              <p class="font-p">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              <hr>
              <iframe src="https://www.youtube.com/embed/9DljzxNF5YE" frameborder="0" allow="autoplay; encrypted-media"allowfullscreen style="padding-top:10px;width:100%;height: auto;"></iframe>
              <p class="font-p">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mx-auto">
            <img class="fix-image-row3" src="./image/row3.jpg" alt="">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <img class="" src="./image/plv2.jpg" alt="" style="width:100%;height: auto; padding-top: 10px; padding-bottom: 10px;">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class="col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
            <img class="fix-image-row2" src="./image/row22.jpg" alt="">
            <a class="font-p" href="p">WASHINGTON The Federal Bureau of Investigation on Monday raided the offices and home of U.S. President</a>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class="col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
            <div class="border-p">
              <a class="font-p" href="p" style="padding: 10px;text-align: left;">TOP NEWS. Sed ut perspiciatis unde omnis iste natus.</a>
            </div>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
              <img class="col-4" src="./image/p1.jpg" alt="" style="width:100%;height: 100%;">
              <a class="font-p col-8" href="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mx-auto" style="padding-bottom: 10px; padding-top: 10px;"><button type="submit" class="load-more btn-block">LOAD MORE POST</button></div>
      </div>
      <div style="background-color:#1d202f;" >
        <div class="justify-content-center">
          <div class="row" style="padding-top: 30px; background-color:#1d202f; margin: 0px">
            <div class="col-md-4 col-sm-12">
              <center>
                <b class="text-light">POSTS CATEGORIES</b>
                <div class="" style="padding-top:10px;padding-bottom: 10px;">
                  <a class="d-block" href="#">PHOTOGRAPHY</a>
                  <a class="d-block" href="#">DESIGN</a>
                  <a class="d-block" href="#">FASHION</a>
                  <a class="d-block" href="#">REVIEWS</a>
                  <a class="d-block" href="#">MUSIC</a>
                  <a class="d-block" href="#">TECHNOLOGY</a>
                  <a class="d-block" href="#">LIFE</a>
                  <a class="d-block" href="#">TRAVEL</a>
                </div>
              </center>
            </div>
            <div class="col-md-4 col-sm-12">
              <center>
                  <b class="text-light">TAGS CLOUD</b>
                  <div class="tag-cloud">
                    <a class="border-tag" href="#">Design</a>
                    <a class="border-tag" href="#">Peoples</a>
                    <a class="border-tag" href="#">Technology</a>
                    <a class="border-tag" href="#">Travel</a>
                    <a class="border-tag" href="#">Music</a>
                    <a class="border-tag" href="#">Photography</a>
                    <a class="border-tag" href="#">Fashion</a>
                    <a class="border-tag" href="#">Creative</a>
                    <a class="border-tag" href="#">Apple</a>
                    <a class="border-tag" href="#">News</a>
                    <a class="border-tag" href="#">Development</a>
                  </div>
                <div class="" style="padding-top:10px;">
                  <b class="text-light" style="padding-bottom:30px;">TWITTER WIDGET</b>
                  <p class="text-light"style="text-align:center; font-size: 12px; padding-top:10px;">WebLionMedia @GeraGuerra Hi, Please write to valeriu.dodon@gmail.com Thanks</p>
                  <p class="" style="text-align:center; font-size: 12px; color: #a6aba8;">about 322 days ago</p>
                </div>
              </center>
            </div>
            <div class="col-md-4 col-sm-12" style="padding: 0px">
              <center class="block">
                <b class="text-light">INSTAGRAM</b>
                <div class="" style="padding-top:10px;padding-bottom: 10px;">
                  <div class="row">

                  </div>
                </div>
              </center>
            </div>
          </div>
        </div>
        <div class="" style="background-color: #12131a ;">
          <ul class="nav justify-content-center" style="padding-top:10px;padding-bottom: 10px; font-size:9px;">
            <li class="nav-item" >
              <a class="nav-link text-light" href="#">HOME PAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">POST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">CATEGORIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">PAGES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">FEATURES</a>
            </li>
          </ul>
        </div>
        <div class="text-light">
          <center>
            <h6 style="padding-top: 10px;padding-bottom: 10px;margin:0px;">Copyright 2013 by Hoang. All Rights Reserved.</h6>
          </center>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
