<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="./css/style4.css">
</head>

<body>
  <div class="bg-1">
    <nav class="navbar navbar-expand-md">
      <img src="" alt="">
      <a class="navbar-brand text-dark" href="./page.html" style="font-family: 'Roboto', sans-serif;"><h3>My Website</h3></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link text-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>PRODUCTS</b>
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-secondary" href="#">Consulting<span style="font-size:15px; padding-top: .3rem;" class="fa pull-right">&#xf27b;</span></a>
              <a class="dropdown-item text-secondary" href="#">Developing<span style="font-size:15px; padding-top: .3rem;" class="fa pull-right">&#xf121;</span></a>
              <a class="dropdown-item text-secondary" href="#">Designing<span style="font-size:15px; padding-top: .3rem;" class="fa pull-right">&#xf03b;</span></a>
              <a class="dropdown-item text-secondary" href="#">Analysis<span style="font-size:15px; padding-top: .3rem;" class="fa pull-right">&#xf080;</span></a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
                  <b>SERVICES</b>
                  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="./about-us-page.html">
                  <b>ABOUT</b>
                  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
                  <b>JOBS</b>
                  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="./contact-page.html">
                  <b>CONTACT</b>
                  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">
              <b>0129-894-5422</b>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="bg-2">
    <div class="text-center text-light" style="height: 600px; padding-top: 200px;">
      <h1><b>MY LOVE</b></h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's <br> standard dummy text ever since the 1500s, when an unknown printer took a galley <br> of type and scrambled it to make a type
        <br>specimen book. It has survived not only five centuries,nly five centuries </p>
    </div>
  </div>
  <div class="bg-3">
    <div class="row" style="padding-top:100px;">
      <div class="col-md-3">
        <center>
          <img class="" src="./image/consulting.png" alt="" style="width: 120px;">
          <h4 class="text-primary" style="padding-top: 30px; padding-bottom: 30px;">
            <b>Consulting</b>
          </h4>
        </center>
        <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="col-md-3">
        <center>
          <img class="" src="./image/deverloping.png" alt="" style="width: 120px;">
          <h4 class="text-primary" style="padding-top: 30px; padding-bottom: 30px;">
            <b>Developing</b>
          </h4>
        </center>
        <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="col-md-3">
        <center>
          <img class="" src="./image/design.png" alt="" style="width: 120px;">
          <h4 class="text-primary" style="padding-top: 30px; padding-bottom: 30px;">
            <b>Designing</b>
          </h4>
        </center>
        <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="col-md-3">
        <center>
          <img class="" src="./image/analysis.png" alt="" style="width: 120px;">
          <h4 class="text-primary" style="padding-top: 30px; padding-bottom: 30px;">
            <b>Analysis</b>
          </h4>
        </center>
        <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
    </div>
  </div>
  <div class="bg-4">
    <div class="row">
      <div class="col-md-6" style="">
        <p style="text-align:justify">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
        <h3>
          <b>Where does it come from?</b>
        </h3>
        <p style="text-align:justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, lookedup
          one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
          Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from
          a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact originalform,
          accompanied by English versions from the 1914 translation by H. Rackham.</p>
        <div style="padding-top: 50px;">
          <button type="submit" class="btn bg-view_more btn-block col-md-4">
              <b>VIEW MORE</b>
            </button>
        </div>
      </div>
      <img class="col-md-6" src="./image/macbook.png" alt="">
      <div class="row col-md-12" style="padding-top: 50px; padding-bottom: 50px; margin-left:5px; height: 400px;">
        <div class="col-md-4 fix-padding bg-img1 text-center rounded-left" style="padding-top: 50px;">
          <p>
            <b>MAGAZINE PUBLICING TOOL</b>
          </p>
          <h3><b>THE NEW</b></h3>
        </div>
        <div class="col-md-4 fix-padding bg-img2 text-center" style="padding-top: 50px;">
          <p>
            <b>DIGITAL BOOK PUBLICING TOOL</b>
          </p>
          <h3><b>LIBRO</b></h3>
        </div>
        <div class="col-md-4 fix-padding bg-img3 text-center text-light rounded-right" style="padding-top: 50px;">
          <p>
            <b>FONT EDITOR</b>
          </p>
          <h3><b>ELITE</b></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-5">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <h5 class="col-md-6"><b>LATEST NEW</b></h5>
          <h6 class="col-md-6">
            <a class="text-secondary"href="#">See all release</a>
          </h6>
        </div>
        <div class="card">
          <img class="rounded" src="./image/lastnew.jpg" alt="" style=" height: 300px;">
          <div class="card-body">
            <h5 class="card-title text-primary">Where can I get some?</h5>
            <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h5 class="col-md-6"><b>RELEASE</b></h5>
          <h6 class="col-md-6">
            <a class="text-secondary"href="#">See all release</a>
          </h6>
        </div>
        <div class="card">
          <img class="rounded" src="./image/release.jpg" alt="" style=" height: 300px;">
          <div class="card-body">
            <h5 class="card-title text-primary">Where can I get some?</h5>
            <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h5 class="col-md-6"><b>JOBS</b></h5>
        </div>
        <div class="card rounded">
          <img class="rounded" src="./image/job.jpg" alt="" style=" height: 300px;">
          <div class="card-body">
            <h5 class="card-title text-primary">Where can I get some?</h5>
            <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-6">
    <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="col-md-2">
        <h5>HOANGNGUYEN.Inc</h5>
        <p class="text-secondary ">Boxing with prototype and static methods</p>
        <br>
        <div class="contentinfo">
          <p>copyright by HoangNguyen
            </>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-left: 9em;">
          <a href="#"><h6 class="text-secondary">PRODUCTS</h6></a>
          <a href="#"><h6 class="text-secondary">SERVICES</h6></a>
          <a href="./about-us-page.html"><h6 class="text-secondary">ABOUT</h6></a>
          <a href="#"><h6 class="text-secondary">JOBS</h6></a>
          <a href="./contact-page.html"><h6 class="text-secondary">CONTACT</h6></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <h6><b>NEW:</b></h6>
          <form class="form-inline row">
            <div class="form-group mx-md-3 mb-2">
              <input type="text" class="form-control" style="padding-right: 200px;">
            </div>
            <button type="submit" class="btn btn-secondary mb-2">Subscribe</button>
          </form>
          <!-- <div class="" style="padding-top: 40px;">
            <h6><b>FOLLOW US:</b></h6>
            <a href="https://www.facebook.com/">
              <img style="width:50px;" src="./image/fb.png" alt="Facebook-icon">
            </a>
            <a href="https://www.twitter.com/">
              <img style="width:50px;" src="./image/tw.png" alt="Twitter-icon">
            </a>
            <a href="https://plus.google.com/about?hl=vi">
              <img style="width:50px;" src="./image/g+.png" alt="Google-plus-icon">
            </a>
            <a href="https://www.pinterest.com/">
              <img style="width:50px;" src="./image/pinterest.png" alt="Pinterest-icon">
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="icon-bar">
    <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://wwww.twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://plus.google.com/about?hl=vi" class="google"><i class="fa fa-google"></i></a>
    <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i></a>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
