<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weding</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./css/weding.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>

<body>
  <header id="Header" class="">
    <div class="container">
      <nav class="navbar navbar-expand-lg" style="padding: 10px 0;">
        <div class="logo nav-item">
          <a href="./weding.html" class="nav-link">H <i class="fas fa-heart"></i>L</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <div class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#">COUPLE</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#section-about">STORY</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#section-work">EVENTS</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#section-service">PEOPLE</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#section-skills">GALLERY</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#section-contact">RSVP</a>
          </div>
          <div class="dropdown nav-item">
            <a class="nav-link" href="#">BLOG</a>
            <div class="dropdown-content">
              <a class="dropdown-item" href="#">Blog</a>
              <a class="dropdown-item" href="#">Blog Details</a>
              <a class="dropdown-item" href="#">Thidr level</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
    <!-- Introduce -->
  <div class="background-image overlay black">
    <div class="particleground">
      <div class="intro">
        <h1 class="text-light text-center text-h1-1">Hoàng & Linh</h1>
        <p class="text-light text-center weare">
          WE'RE GETTING MARRIED
        </p>
      </div>
    </div>
    <div class="fix">
      <div class="save-the-date popup-save-the-date">
        <h4 class="" style="font-size: 35px;">Save the date</h4>
        <p class="">3 May 1997 -- 10 May 1997</p>
      </div>
    </div>
  </div>
  <div class="pd-100">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="gb-groom row" style="overflow: hidden;">
            <div class="bg groom"></div>
            <div class="details">
              <div class="details-iner left">
                <h3>THE GROOM</h3>
                <p>Hi I am suntina , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                <span class="signature">Suntina</span>
                <ul class="social-links">
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="gb-bride row" style="overflow: hidden;">
            <div class="details">
              <div class="details-iner right">
                <h3>THE BRIDE</h3>
                <p>Hi I am suntina , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                <span class="signature left-sig" style="padding-right: 25px;">Famico</span>
                <ul class="social-links" style="display: inline-block;">
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bg bride col-xs-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="countdown-bg section">
    <div class="container">
      <div class="row" style="padding-top: 20px;">
        <div class="col col-lg-4 col-md-12">
          <h2>We are waiting for.....</h2>
          <h2 class="the">
            The adventure
          </h2>
        </div>
        <div class="col col-lg-8 col-md-12">
          <div class="count-down-clock">
            <div id="clock" class="">
              <div class="box " style="margin-left: 7px;">
                <div>00</div>
                <p>Days</p>
              </div>
              <div class="box">
                <div>00</div>
                <p>Hours</p>
              </div>
              <div class="box">
                <div>00</div>
                <p>Mins</p>
              </div>
              <div class="box" style="margin-right: 0px;">
                <div>00</div>
                <p>Secs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pd-100">
    <div class="container">
      <div class="row">
        <div class="col col-md-12">
          <div class="section-title">
            <div class="vertical-line">
              <i class="fas fa-heart"></i>
            </div>
            <h2>Our love story</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-12">
          <div class="story-time-line">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="story-text-right">
                  <h3>FIRST MEET</h3>
                  <p class="date">Jan 12 2017</p>
                  <p class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 owl-carousel" style="margin-bottom: 30px">
                <div class="img-holder">
                  <img src="./image2/img-1.jpg" alt="" class="img img-responsive">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12 owl-carousel">
                <div class="img-holder">
                  <img src="./image2/img-2.jpg" alt="" class="img img-responsive">
                </div>
                <div class="img-holder">
                  <img src="./image2/img-3.jpg" alt="" class="img img-responsive">
                </div>
                <div class="img-holder">
                  <img src="./image2/img-2.jpg" alt="" class="img img-responsive">
                </div>
                <div class="img-holder">
                  <img src="./image2/img-3.jpg" alt="" class="img img-responsive">
                </div>
              </div>
              <div class="col-lg-6 col-md-12" style="border-top: 1px solid rgba(94, 154, 142, 0.1);">
                <div class="heart-left">
                  <i class="fas fa-heart" style="color: #fff;"></i>
                </div>
                <div class="story-text-left">
                  <h3>FIRST DATE</h3>
                  <p class="date">Feb 14 2017</p>
                  <p class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12" style="border-top: 1px solid rgba(94, 154, 142, 0.1);">
                <div class="heart-right">
                  <i class="fas fa-heart" style="color: #fff;"></i>
                </div>
                <div class="story-text-right">
                  <h3>PROPOSAL</h3>
                  <p class="date">Apr 14 2017</p>
                  <p class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 owl-carousel">
                <div class="img-holder">
                  <img src="./image2/img-4.jpg" alt="" class="img img-responsive">
                </div>
                <div class="img-holder">
                  <img src="./image2/img-5.jpg" alt="" class="img img-responsive">
                </div>
                <div class="img-holder">
                  <img src="./image2/img-4.jpg" alt="" class="img img-responsive">
                </div>
                <div class="img-holder">
                  <img src="./image2/img-5.jpg" alt="" class="img img-responsive">
                </div>
              </div>.
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12 owl-carousel">
                <div class="img-holder">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1YJHk2anDQ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="heart-left">
                  <i class="fas fa-heart" style="color: #fff;"></i>
                </div>
                <div class="story-text-left" style="border-top: 1px solid rgba(94, 154, 142, 0.1);">
                  <h3>ENAGAGEMENT</h3>
                  <p class="date">Jul 14 2017</p>
                  <p class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="./js/wedding.js"></script>
<script src="./js/particleground/jquery.particleground.js"></script>
<script src="./js/particleground/jquery.particleground.min.js"></script>
</html>
